.logo-style{
  width: 268px;
  height: 33px;
}
.nav-style{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.float-left{
  float: left
}
.float-right{
  float: right
}
.text-center{
  text-align: center
}
.link-nav{
  text-decoration:none;
  color: gray;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 2em;


}

.link-nav:hover, .link-nav:active{
  text-decoration:none;
  color:#00c3a5
}
