.brand-logo-text {
  margin: 0px 10px;
  height: 30px;
}

.brand-name-style{
  color: grey;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.brand-logo-text:hover, .brand-logo-text:active a {
  text-decoration: none;
  color:#00c3a5
}

.brand-logo-text img {
  width: 1.2em;
}
