
.service-image{
  width:
}
.patientsBackground{
  background-color: #00ccb1
}
.doctorsBackground{
  background-color: #3d83df
}
.image-style{
  width: 50%
}
.radius{
  border-radius: 10px;
  padding-bottom: 190px;
  padding-left: 30px;
  padding-right: 30px ;
  display: block;
}
