.App {
  text-align: center;
}

.nav-shadow{
  border: 1px solid;
  padding: 2px;
  box-shadow: 1px 2px #888888;
}
.logo-style{
  display: block;
  margin: 0 auto;
}
.header-text-style{
  font-size: 34px;
  color: #00b39b;
  text-align: center;
  display: block;
}
.header-section{
  display: block;
  max-width: 100%;
  padding: 63px 45px 45px 45px;
}
.header-text-style{
  margin-top: 34px;
  margin-bottom: 44px;
  letter-spacing: .3px;
}
.header-p-style{
  color: #747474;
  line-height: 1.75;
  font-weight: 400;
}
.bg-patients{
  background-color: #00ccb1
}
.bg-doctors{
  background-color: #3d83df
}
.service-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap!important;
}
.service{
  display: block;
  max-width: 100%;
  padding-left: 34px;
  padding-right: 34px
}
.brand-section{
  padding: 34px
}
.brand-text-style{
  color:#00c3a5
}
.FourWhiteBoxes {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 50%
}
.offices{
  max-width: 33%;
  margin: 0 auto -3.8125rem;
  font-size: .875em;
  text-align: center;
  padding: 71px
}
.offices h2{
  color:#00c3a5
}
.offices p{
  color:#747474
}
.location-pictures {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  padding: 46px;
  margin: 0 auto;
}
.footer-padding{
  padding: 5px
}
