.App {
  text-align: center;
}

.nav-shadow{
  border: 1px solid;
  padding: 2px;
  box-shadow: 1px 2px #888888;
}
.logo-style{
  display: block;
  margin: 0 auto;
}
.header-text-style{
  font-size: 34px;
  color: #00b39b;
  text-align: center;
  display: block;
}
.header-section{
  display: block;
  max-width: 100%;
  padding: 45px;
}
.header-text-style{
  margin-top: 34px;
  margin-bottom: 44px;
  letter-spacing: .3px;
}
.header-p-style{
  color: #747474;
  line-height: 1.75;
  font-weight: 400;
}
.bg-patients{
  background-color: #00ccb1
}
.bg-doctors{
  background-color: #3d83df
}
.service-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap!important;
}
.service{
  display: block;
  max-width: 100%;
  padding:45px
}
